html{
    background-color: white;
    z-index: 0;
    font-family: 'Courier New', Courier, monospace;
  }

header{
    background-color: #a5f7b7;
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:left;
}

header h1{
    font-size:40px;
    padding-top: 50px;
    margin-bottom: 0px;
}

header .navigation{
    position: fixed;
    top: 20px;
    right: 20px;
}

.roses dl{
    display:flex;
    flex-wrap: wrap;
    flex-direction: inherit;
    justify-content: center;    
    align-items:center;
}

.roses dl div{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
}

footer{
    background-color: #a5f7b7;
}

.contact{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}