html{
    background-color: white;
    z-index: 0;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Roboto Condensed', sans-serif;
  }

header{
    background-color: #a5f7b7;
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:left;
}

header .title{
    margin-left: 30px;
}

header h1{
    font-size: 50px;
    margin-bottom: 0px;
    position: center;
    display: flex;
    flex-direction:row;

}

header h1 .loctype1{
    color: #008000;
}

header h1 .loctype2{
    color:#a10040;
}

header .navigation{
    position: fixed;
    top: 20px;
    right: 20px;
}
.roses{
    box-sizing: border-box;
    margin: 20px 0px 0px 0px;
    padding: 10px 15px 5px;
}

.roses .roses-types{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
    align-items:center;
}

.roses .roses-types .category{
    margin-bottom: 40px;
    border: 1px solid #eee;
    text-align: center;
}

footer{
    background-color: #a5f7b7;
}

.contact{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}